
@font-face
    font-family: "iconfont"
    src: url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('../fonts/truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

.iconfont
  font-family: "iconfont" !important
  font-style: normal
  -webkit-font-smoothing: antialiased


